.centered {
	margin: 0 auto;
}

.container-fluid.calculator-container {
	margin-top: 50px;
	background-color: gray;
	max-height: 70%;
	max-width: 60%;
	padding-top: 1em;
}

.input-display {
	background-color: white;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 1em;
	position: relative;
}

#input-text {
	font-size: 4vw;
}

#solution-text {
	font-size: 3vw;
	opacity: 0.6;
}

.numpad-btn {
	padding: 0.5em 0em;
	height: 100%;
	width: 98%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.numpad-btn:hover {
	cursor: pointer;
	box-shadow: 0px 1px 5px 1px #222121, inset -1px -5px 10px 1px #515151;
}

.num-column {
	background-color: rgb(96, 96, 96);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.col-3.num-column {
	padding: 0;
}

.col-sm-3.num-column {
	padding: 0;
}

.col-md-3.num-column {
	padding: 0;
}

.col-lg-3.num-column {
	padding: 0;
}

#op-column {
	background-color: rgb(117, 117, 117);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

.numpad-display {

}

.numpad-text {
	font-size: 3vw;
	user-select: none;
}

.vertical {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}

.test {
	display: flex;
	flex-wrap: nowrap;
}

#error-display {
	background-color: rgba(255, 53, 53, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 1s;
}